<nav class="navbar navbar-inverter navbar-fixed-top navbar-reprograma">
    <div class="container">
        <a href="/loginUsuario">
            <button class="navbar-toggle">
                <i class="fa fa-sign-out-alt" style="color: red"></i>
            </button>
        </a>
        <div class="navbar-brand">
            <img class="navbar-brand-acad" src="/img/logo@2x.png">
        </div>
    </div>
</nav>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar2" aria-expanded="false">
                <i class="fa fa-bars"></i>
            </button>
            <div class="navbar-brand" style="margin-top: 8px;"> Administração </div>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/loginUsuario">
                        <button class="btn btn-danger"> Sair
                            <i class="fa fa-sign-out-alt fa-lg"></i>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid main-container">
    <div class="col-md-2 sidebar">
        <div class="row collapse navbar-collapse" id="navbar2">
            <!-- Menu -->
            <div>
                <nav class="navbar navbar-default" role="navigation">
                    <!-- Main Menu -->
                    <div class="side menu-container">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="/treinador/listCli">
                                    <i class="fa fa-users fa-lg"></i> Clientes </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <div class="col-md-10 content">
        <div class="panel panel-default">
            <div class="panel-heading">
                Dados do Clientes
            </div>
            <div class="panel-body">
                <form action="/updateCli/treinador/<%= data.idCliente %>" class="form-horizontal" method="POST">
                    <div class="form-group col-md-5">
                        <label class="col-md-2 control-label" for="nome">Nome</label>
                        <div class="col-md-10">
                            <input value="<%= data.nome %>" id="nome" type="text" name="nome" placeholder="Nome do usuário" class="form-control input-md"
                                required="">
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group col-md-5">
                        <label class="col-md-2 control-label" for="idade">Idade</label>
                        <div class="col-md-10">
                            <input value="<%= data.idade %>" id="idade" type="number" name="idade" placeholder="Nome do usuário" class="form-control input-md"
                                required="">
                        </div>
                    </div>
                    <!-- Select Basic -->
                    <div class="form-group col-md-5">
                        <label class="col-md-2 control-label" for="sexo">Sexo</label>
                        <div class="col-md-10">
                            <select value="<%= data.sexo %>" id="sexo" name="sexo" class="form-control">
                                <option value="Masculino" <% var selecionado='' ; if(data.sexo=='Masculino' ){ selecionado='selected' } %>
                                    <%=selecionado %> > Masculino </option>
                                <option value="Feminino" <% var selecionado='' ; if(data.sexo=='Feminino' ){ selecionado='selected' } %>
                                    <%=selecionado %> > Feminino </option>
                                <option value="Outro" <% var selecionado='' ; if(data.sexo=='Outro' ){ selecionado='selected' } %>
                                    <%=selecionado %> > Outro </option>
                            </select>
                        </div>
                    </div>
                    <!-- Text input -->
                    <div class="form-group col-md-5">
                        <label class="col-md-2 control-label" for="plano">Plano</label>
                        <div class="col-md-10">
                            <select value="<%= data.plano %>" id="plano" name="plano" class="form-control">
                                <option value="Básico" <% var selecionado='' ; if(data.plano=='Basico' ){ selecionado='selected' } %>
                                    <%=selecionado %> > Básico </option>
                                <option value="Intermediário" <% var selecionado='' ; if(data.plano=='Intermediário' ){ selecionado='selected' } %>
                                    <%=selecionado %> > Intermediário </option>
                                <option value="Musculação" <% var selecionado='' ; if(data.plano=='Musculação' ){ selecionado='selected' } %>
                                    <%=selecionado %> > Musculação </option>
                            </select>
                        </div>
                    </div>
                    <!-- Text input -->
                    <div class="form-group col-md-5">
                        <label class="col-md-2 control-label" for="peso">Peso</label>
                        <div class="col-md-10">
                            <input id="peso" value="<%= data.peso %>" name="peso" type="number" maxlength="10" placeholder="Peso" class="form-control input-md"
                                required="">
                        </div>
                    </div>
                    <!-- Text input -->
                    <div class="form-group col-md-5">
                        <label class="col-md-2 control-label" for="altura">Altura</label>
                        <div class="col-md-10">
                            <input id="altura" value="<%= data.altura %>" name="altura" type="text" placeholder="Altura" class="form-control input-md"
                                required="">
                        </div>
                    </div>
                    <!-- Text input -->
                    <div class="form-group col-md-5">
                        <label class="col-md-2 control-label" for="imc">IMC</label>
                        <div class="col-md-10">
                            <input id="imc" value="<%= data.imc %>" name="imc" type="text" placeholder="IMC" class="form-control input-md"
                                required="">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-primary" value="Confirmar">
                            <a href="/treinador/listCli/">
                                <input type="button" class="btn btn-danger" value="Cancelar">
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</div>
</main>